# Backend
SECRET_KEY=change-this-secret
DATABASE_URL=postgresql://user:password@host:5432/dbname
CORS_ORIGINS=http://localhost:3000,https://tu-frontend.com
SESSION_COOKIE_SECURE=true
SESSION_COOKIE_SAMESITE=None

# Frontend (React)
REACT_APP_API_URL=http://localhost:5000/api
